.App {
  display: flex;
  flex-direction: column;
  justify-content: center;


  text-align: center;
  
}

.App-header {
  background-color: #2b7a78;
  color: #def2f1;

  height: 50px;
  display: flex;
  flex-direction: row;
  
  justify-content: left;
  align-items: center;
  align-content: flex-start;
}

.Header-text {
  font-size: 25px;
  margin-left: 25px;
}

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: center;

  background-color: #def2f1;
  color: #2b7a78;

  min-height: 100vh;
}

.Task-input{
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: flex-start;
  padding: 30px;
}

.Task-input-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Btn-confirm-input {
  border: none;
  background-color: #5bbcb7;
  color: #def2f1;
}

.Inp-input-text {
  border-color: #3aafa9;
  border-radius: none;
  border-width: 2px;
}

.Task-input-filter{

  align-self: left;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: flex-start;
}

.firstTask {
  display: flex;
  justify-content: center;
  min-width: 80%;
  justify-content: space-around;
}

.Btn-first-task-one {
  border: none;
  background-color: #5bbcb7;
  color: #def2f1;
  mask-image: \1F5F2;
}